doctype xml
response
    outputSpeech
        type SSML
        SSML <![CDATA[!{response.speech.ssml}]]>
    reprompt
        outputSpeech
            type SSML
            SSML <![CDATA[!{response.reprompt.ssml}]]>
    card
        type Simple
        title !{response.card.title}
        content !{response.card.text}
