doctype xml
response
    outputSpeech
        type SSML
        SSML <![CDATA[ssml]]>
    reprompt
        outputSpeech
            type SSML
            SSML <![CDATA[!{ssml}]]>
    card
        type Simple
        title card.title
        content card.text
